@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("./cabecalho.css");
@import url("./sobre.css");
@import url("./metricas.css");
@import url("./vagas-banner.css");
@import url("./depoimentos.css");
@import url("./rodape.css");

:root{
    --text-header-color: #667085;
    --red: #8E2424;
    --background-depoimentos: #C3191908;
    --white: #fff;
    --inter: "Inter", sans-serif;
    --font-color: #3A404E;
    --title-blue: #101828;
    --gray-link: #8E24240D;
    --card-border: #EAECF0;
    --footer-background: #F9FAFB;
    --border-input: #D0D5DD;
}

/*Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: var(--inter);
}


